---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Boerg.co">
	<main>
		<h1>Hey there 👋</h1>
		<img src="/hubris_banner.jpg" style="width: 100%">
		<p>
			I'm Sir Berg, an IT Professional from Germany, currently working <a href="https://stabl.com">@Stabl Energy</a> trying to make the world a better place.
			Here you can find some of my projects that I'm working on in my free time.
		</p>
		<h2>About</h2>
		<code>
			Facts: <br />
			- 🌍 I'm from Germany <br />
			- 🏢 I'm working at <a href="https://stabl.com">@Stabl Energy</a> <br />
			- 🖥️ I'm a qualified IT Specialist in System Integration <br />
			- 🛜 I'm a Networking enthusiast and have the CCNA certification <br />
			- I like to play around with programming languages like Typescript and Rust <br />
			- 🇯🇵 I'm trying to learn <a href="/words">Japanese</a>
		</code>
		<sub>
			Trying to verify my Identity? You can find my Public GPG Key <a href="/sirberg.gpg.pub" target="_blank">here</a> <br />
			My SSH Public Key is located <a href="/sirberg.ssh.pub" target="_blank">here</a> <br />
			Interested in my Japanese learning progress? You can find it <a href="/words">here</a>
		</sub>
		<h2>Projects</h2>
		I'm currently working on a few projects, on and off. Here are some of them:
		<code>
			- 📦 <a href="https://github.com/iglu-sh/iglu">Iglu:</a> A Nix Cache implementation and automation suite. <br />
			- 📦 <a href="https://github.com/Nixos/nixpkgs">Nixpkgs:</a> I'm actively maintaining a package in the Nixos/Nixpkgs repository 
		</code>
	    <h2>Where to find me</h2>
		FYI: I don't usually post much on any of my socials, but feel free to reach out to me if you have questions for me :)
		<code style="margin-top: 1em">
			- Discord: sirberg  <br />
			- 📧 <a href="mailto:contact@boerg.co">Email</a> <br />
			- <a href="https://github.com/SirBerg" target="_blank">GitHub</a>
		</code>
	</main>
</Layout>

