---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Privacy Policy">
    <main>
        <h1>Privacy Policy</h1>
        <p>I do not collect data from this website.
            The traffic is routed through Cloudflare and I'm using Google site verification to make it visible.
            This website is also <a href="https://github.com/SirBerg/about" target="_blank">Open Source</a> so take a look for yourself if you do not trust me. :D</p>
    </main>
</Layout>
