---
import Layout from '../layouts/Layout.astro';
import ReactCharts from '../components/ReactCharts';
---
<Layout title="Japanese Stats">
    <main>
        <h1>Japanese learning Stats</h1>
        <ReactCharts client:only/>
    </main>
</Layout>
